/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 2px;

}
/*---------------------mobile-version----------------------*/
@media screen and (max-width: 768px){
	body{
		background-image: url("checkbox.PNG");
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	#left_wrapper1{  /*outer_bluebox*/
		order : 2;
		background-color: #56B3D5;
		border-radius : 10px;
		border: 0.5px solid #000100;
		width: 345px;
		height: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#left_wrapper2{ /*outer_dottedbox*/
		margin: 2px;
		border-radius : 10px;
		border: 1px dashed #ffffff;
		width: 98%;
		height: 99%;
	}
	#left_wrapper3{ /*outer_whitebox*/
		margin: 2px;
		border-radius : 10px;
		background-color: #f2f2f2;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 98%;
		height: 98%;
	}
	#left_wrapper4{ /*outer_graybox*/
		margin-top: 2px;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		border-radius : 10px 15px 15px 10px;
		background-color: #ffffff;
		width: 96%;
		height: 98%;
	}
	#left_wrapper5_1{ /*web-site ver totalcount box*/
		position: absolute;
		display: none;
	}
	#left_wrapper5_2{ /*inner_graybox*/
		order:2;
		background-color: #EBEBE9;
		border-radius : 10px;
		width: 97%;
		height: 98%;
		border: 1px solid #7B7B7B;
		float: left;
	}
	#left_wrapper6{ /*inner_whitebox*/
		background-color: #ffffff;
		border-radius : 10px;
		width: 100%;
		height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
		align-items: center;
	}
  #mob_top{
    order: 1;
    width: 100%;
    font-size: 11pt;
    color: #ffffff;
    height: 28px;
    padding-top: 9px;
    border-radius: 10px 10px 0 0;
    background-color: #616161;
    text-align: center;
    font-weight: bold;
  }
  #left_wrapper6 #profile_hr1{
    display: none;
  }
  #tmpdiv{
    order: 2;
    flex: 0 0 auto;
    width: 100%;
    height: 20px;
    font-size: 9pt;
    text-align: center;
    background: #56B3D5;
  }
  #profile_title{
    display: none;
  }
	#profile_pic{
    order:4;
    flex: 0 0 auto;
    margin-bottom: 5px;
		width: 110px;
		height: 80px;
	}
	#profile_pic>img{
		width: 100%;
		height: 100%;
	}
  #profile_pic_edit{
    font-size: 8pt;
    order:5;
    margin-bottom: 10px;
  }
	#left_wrapper6 hr{
		width: 80%;
		border-top: 1px dotted black;
	}
	#profile_content{
    order:6;
    margin-bottom: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    flex: 0 0 auto;
		width: 160px;
    height: 50px;
		font-size: 9pt;
		overflow-y: auto;
	}
	#profile_edit{
    order: 7;
		font-size: 8pt;
    width: 50%;
    display: flex;
    justify-content: flex-end;
	}
	#profile_hr2{
    display: none;
		margin-top: 3px;
	}
	#owner_name{
    order:3;
    margin: 15px 0 5px 0;
		font-size: 10pt;
	}
	/*--- left_wrappers end--- */



	/*---right_wrapper start---*/
	#right_wrapper1{ /*outer_bluebox*/
		order : 4;
		background-color: #56B3D5;
		border-radius : 10px;
		border: 0.5px solid #000100;
		width: 345px;
		height: 450px;
	}
	#right_wrapper2{ /*outer_dottedbox*/
		margin: 2px;
		border-radius : 10px;
		border: 1px dashed #ffffff;
		width: 98%;
		height: 98%;
	}
	#right_wrapper3{ /*outer_graybox*/
		margin: 2px;
		border-radius : 10px;
		background-color: #f2f2f2;
		border: 1px solid black;
		width: 99%;
		height: 99%;
	}
	#right_wrapper4{/*inner_graybox*/
		display: flex;
		flex-direction: column;
		margin-top: 3px;
		margin-left: 2px;
		border-radius : 10px;
		background-color: #dddddd;
		width: 99%;
		height: 99%;
	}
	#right_wrapper4_1{/*web-sidename box*/
		display: none;
	}
	#right_wrapper4_2{/*inner_whitebox*/
		order:2;
		padding: 10px;
    padding-top: 10px;
		background-color: #ffffff;
		border-radius : 10px;
		width: 93%;
		height: 90%;
		border: 1px solid #7B7B7B;
		display: flex;
		flex-direction: column;
	}

  .div_title{
    margin: 0 0 3px 5px;
    padding: 3px 12px 3px 3px;
    font-size: 9pt;
    border-bottom: 2px solid #8c8c8c;
  }
  #personal_div, #friend_div{
    width: 95%;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 9pt;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 2px;
    overflow-y: scroll;
  }
  #personal_div{
    height: 150px;
  }
  #personal_div>div{
    flex: 0 0 auto;
    width: 80%;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #personal_div>div>label{
    margin-right: 10px;
  }
  #personal_div>div>input,#personal_div>div>textarea{
    width: 160px;
    border: 1px solid #c9c9c9;
    padding: 3px;
    resize: none;
  }
  #personal_div>div>textarea{
    height: 40px;
  }
  #personal_div>div>div{
    padding: 1px 5px 1px 5px;
    background-color: #bce9f4;
    border: 1px dashed #ffffff;
    font-size: 8pt;
    border-radius: 5px;
  }
  #personal_ok_btn{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    font-size: 9pt;
    width: 98%;
    margin-bottom: 10px;
  }
  #personal_ok_btn>div{
    width: 60px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    background-color: #8ecee6;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
  }

  #friend_title{
    display: flex;
    align-items: center;
  }
  #friend_title > #add_friend{
    font-size: 7pt;
    padding: 3px;
  }
  #friend_div{

    height: 140px;
  }
  #friend_div>div{
    flex: 0 0 auto;
    width: 50%;
    margin: 5px;
    padding: 4px 5px 4px 10px;
    display: flex;
    align-items: center;
    background-color: #dfdfdf;
    border-radius: 4px;
    justify-content: space-between;
  }
  #friend_div>div:hover{
    background-color: #cbcbcb;
  }
  #friend_div>div>div{
    padding: 0 5px 0 5px;
    background-color: #c4c4c4;
    color: #ffffff;
    border-radius: 3px;
    border: 1px dott #ffffff;
  }
	/*---right_wrappers end---*/

/*--web_tabs_(display:none)--*/
  #web_tabs{
    display: none;
  }

	#right_sidebar{
		order: 3;
    margin-top: -45px;
		width: 250px;
		display: flex;
    margin-bottom: 20px;
    overflow: hidden;
		flex-direction: column;
		align-items: center;
	}
	#right_sidebar #to_home{
    display: none;
	}
	#right_sidebar #graph{/*graph--move to right_wrapper*/
    display: none;
    order: 3;
		width: 95%;
		height: 80px;
		margin-top: 10px;
		background-color: #ffffff;
		border: 1px solid #3F3F3F;
		border-radius: 1px;
		font-size: 10pt;
		text-align: center;
	}
	#right_sidebar #audio{
    order: 2;
		margin-top: 3px;
		height: 21px;
		width: 98%;
		overflow: hidden;
		border: 1px dashed #ffffff;
		border-radius: 10px;
		flex: 0 0 auto;
	}
	#audio audio{
		height: 20px;
		width: 100%;
	}
	#audio_list{
    display: none;
		margin-top: 3px;
		width: 91%;
		height: 90px;
		overflow-y: auto;
		border: 1px solid #3F3F3F;
		background-color: #ffffff;
		border-radius: 3px;
		padding: 5px;
	}
	#audio_list table{
		border-collapse: collapse;
		width: 100%;
		background-color: #ffffff;
		font-size: 8pt;
		overflow-y: auto;
	}
	#audio_list table td{
		border-bottom: 1px dotted #787878;
		height: 8px;
		overflow-y: auto;
	}


}
